<!DOCTYPE html>
<html lang="en">

<head>
    <title>HBNB</title>
</head>

<body>
    {% if id != None and id in states %}
    {% set states = states[id] %}
    <h1>State: {{ states.name }} </h1>
    <H3>Cities</H3>
    <ul>
        {% for city in states.cities %}
        <li>{{ city.id }}: <b>{{ city.name }}</b></li>
        {% endfor %}
    </ul>
    {% elif id != None and id not in states %}
    <H1>Not found!</H1>
    {% else %}
    <h1>States</h1>
    <UL>
        {% for state in states %}
        <LI>{{ state.id }}: <b>{{ state.name }}</b></LI>
        {% endfor %}
    </UL>
    {% endif %}
</body>

</html>
